#file-table .glyphicon{
    margin-right: 5px;
}
#side-dirs .glyphicon{
    margin-right: 5px;
}
.file-crumb-margin{
    margin-top:15px;
    margin-bottom:5px;
}
.file-header-margin{
    margin-top:15px;
    margin-bottom:0px;
}